.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
cocotb_tests/__pycache__/
cocotb_tests/sim_build/
cocotb_tests/results.xml
cocotb_tests_lcc/__pycache__/
cocotb_tests_lcc/sim_build/
cocotb_tests_lcc/results.xml
